
\.ipynb_checkpoints/

ap_88_89/

index/

reduced_vectors_google\.txt
.DS_Store

trained_word2vec_after_1_epoch\.pickle

trained_word2vec_after_2_epoch\.pickle

trained_word2vec_after_3_epoch\.pickle

trained_word2vec_after_4_epoch\.pickle

google_word2vec\.pickle

*.pickle

lda200topics\.lda

lda200topics\.lda\.expElogbeta\.npy

lda200topics\.lda\.id2word

lda200topics\.lda\.state

lda200topics\.lda\.state\.sstats\.npy

lsi10topics\.lsi

lsi10topics\.lsi\.projection

lsi200topics\.lsi

lsi200topics\.lsi\.projection

lsi200topics\.lsi\.projection\.u\.npy

inverted_index\.py

lsi_cos\.run

lda70topics\.lda

lda70topics\.lda\.expElogbeta\.npy

lda70topics\.lda\.id2word

lda70topics\.lda\.state

lda70topics\.lda\.state\.sstats\.npy

lsi25topics\.lsi

lsi25topics\.lsi\.projection

lsi500topics\.lsi

lsi500topics\.lsi\.projection

lsi500topics\.lsi\.projection\.u\.npy

lsi70topics\.lsi

lsi70topics\.lsi\.projection

lsi70topics\.lsi\.projection\.u\.npy

lda10topics\.lda

lda10topics\.lda\.expElogbeta\.npy

lda10topics\.lda\.id2word

lda10topics\.lda\.state

LDA10topics\.model

LDA10topics\.model\.expElogbeta\.npy

LDA10topics\.model\.id2word

LDA10topics\.model\.state

LDA200topics\.model

LDA200topics\.model\.expElogbeta\.npy

LDA200topics\.model\.id2word

LDA200topics\.model\.state

LDA200topics\.model\.state\.sstats\.npy

lda25topics\.lda

lda25topics\.lda\.expElogbeta\.npy

lda25topics\.lda\.id2word

lda25topics\.lda\.state

LDA25topics\.model

LDA25topics\.model\.expElogbeta\.npy

LDA25topics\.model\.id2word

LDA25topics\.model\.state

LDA70topics\.model

LDA70topics\.model\.expElogbeta\.npy

LDA70topics\.model\.id2word

LDA70topics\.model\.state

LDA70topics\.model\.state\.sstats\.npy
